<div class="mt-2 p-2 bg-secondary rounded">
    <h1>Template Form</h1>
    <p>Using ngModel</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-8">
            <form class="row g-3 p-2" #form="ngForm">
                <div class="col-md-4">
                    <label class="form-label">First Name</label>
                    <input type="text" name="firstName" #fName="ngModel" [(ngModel)]="studentObj.firstName" class="form-control" required minlength="3">
                    <div class="text-danger">
                        @if((fName.touched || fName.dirty) && fName.errors?.['required']){
                            <span>This is required!</span>
                        }@else if((fName.touched || fName.dirty) && fName.errors?.['minlength']){
                            <span>Min 3 character required</span>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Last Name</label>
                    <input type="text" name="lastName" #lName="ngModel" [(ngModel)]="studentObj.lastName" class="form-control" required minlength="3">
                    <div class="text-danger">
                        @if((lName.touched || lName.dirty) && lName.errors?.['required']){
                            <span>This is required!</span>
                        }@else if((lName.touched || lName.dirty) && lName.errors?.['minlength']){
                            <span>Min 3 character required</span>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Username</label>
                    <div class="input-group">
                        <span class="input-group-text">&#64;</span>
                        <input type="text" name="userName" #uName="ngModel" [(ngModel)]="studentObj.userName" class="form-control" required minlength="3">
                        <div class="text-danger">
                            @if((uName.touched || uName.dirty) && uName.errors?.['required']){
                                <span>This is required!</span>
                            }@else if((uName.touched || uName.dirty) && uName.errors?.['minlength']){
                                <span>Min 3 character required</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label">City</label>
                    <input type="text" name="city" #city="ngModel" [(ngModel)]="studentObj.city" class="form-control" required minlength="3">
                    <div class="text-danger">
                        @if((city.touched || city.dirty) && city.errors?.['required']){
                            <span>This is required!</span>
                        }@else if((city.touched || city.dirty) && city.errors?.['minlength']){
                            <span>Min 3 character required</span>
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">State</label>
                    <select class="form-select" name="state" #state="ngModel" [(ngModel)]="studentObj.state" required>
                        <option value="" selected disabled>Choose...</option>
                        <option>Maharashtra</option>
                        <option>Tamilnadu</option>
                        <option>Hyderabad</option>
                        <option>Delhi</option>
                    </select>
                    <div class="text-danger">
                        @if((state.touched || state.dirty) && state.errors?.['required']){
                            <span>This is required!</span>
                        }
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Zip</label>
                    <input type="text" name="zipCode" #zip="ngModel" [(ngModel)]="studentObj.zipCode" class="form-control" required>
                    <div class="text-danger">
                        @if((zip.touched || zip.dirty) && zip.errors?.['required']){
                            <span>This is required!</span>
                        }
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input type="checkbox" name="isAccepted" #check="ngModel" [(ngModel)]="studentObj.isAccepted" class="form-check-input" required>
                        <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions 
                        </label>
                    </div>
                    <div class="text-danger">
                        @if((check.touched || check.dirty) && check.errors?.['required']){
                            <span>This is required!</span>
                        }
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="button" (click)="resetForm()">Clear Form</button>
                    <button class="btn btn-secondary mx-2" [disabled]="form.invalid" type="button" (click)="onSubmit()">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-4">
            {{ formValue | json }}
        </div>
    </div>
</div>
