<p>Child Component.</p>
<!-- <div class="alert alert-success">
    <p>Received from parent(alert) component : {{ username }}</p>
</div>

<div class="row pt-3">
    <div class="col-3">
        <button class="btn btn-secondary" (click)="sendMessage()">Send Message to the parent</button>
    </div>
</div> -->
<!-- <app-alert [username]="username"></app-alert> -->


<!-- <div class="row pt-3">
    <div class="col-6">
        <ul>
            <li *ngFor="let item of items">
                {{ item }}
            </li>
        </ul>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-5">
        <p>Name : {{ users.name }}</p>
        <p>Gender : {{ users.gender }}</p>
    </div>
</div> -->

<!-- <div class="row">
    <div class="col-4">
        <button class="btn btn-warning" (click)="sendData()">Send Data to Parent</button>
    </div>
</div> -->

<!-- <p>Child Data : {{ data }}</p>
<input [(ngModel)]="data" (ngModelChange)="updateData(data)"> -->

<!-- <p>UserName : {{ username }}</p> -->

<!-- <div class="row">
    <div class="col-5">
        <button class="btn btn-primary mx-2" (click)="sendUserName()">
            Change UserName
        </button>
        <button class="btn btn-secondary" (click)="sendStatus()">
            Change Status
        </button>
    </div>
</div> -->

<h3>Child One</h3>
<button (click)="emitData()">Send Data to Parent</button>