<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                <h5>Videos list</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    @for( item of videoList; track $index){
                    <div class="col-4 pt-1">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">{{item.videoTitle}}</h6>
                                <p class="card-text">{{item.videoUrl}}</p>
                                <a class="card-link">
                                    <button (click)="onEdit(item)" class="btn btn-success btn-sm">Edit</button>
                                </a>
                                <a class="card-link">
                                    <button (click)="deleteVideo(item.videoId)" class="btn btn-danger btn-sm">Delete</button>
                                </a>
                            </div> 
                        </div>
                    </div>
                    }
                    <!-- <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Video Title</h4>
                                <p class="card-text">videoDescription</p>
                                <a href="#" class="card-link">
                                    <button class="btn btn-success btn-sm">Edit</button>
                                </a>
                                <a href="#" class="card-link">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some example text. Some example text.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some example text. Some example text.</p>
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                <h5>New Videos form</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Title</label>
                        <input type="text" [(ngModel)]="videoObj.videoTitle" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Url</label>
                        <input type="text" [(ngModel)]="videoObj.videoUrl" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Thumbnail</label>
                        <input type="text" [(ngModel)]="videoObj.videoThumbnail" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Duration</label>
                        <input type="text" [(ngModel)]="videoObj.totalDuration" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Description</label>
                        <textarea class="form-control" [(ngModel)]="videoObj.videoDescription" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="col-6 text-center">
                        @if(videoObj.videoId == 0){
                        <button class="btn btn-success" (click)="onSaveVideo()">Save Video</button>
                        }@else{
                        <button class="btn btn-warning" (click)="onUpdateVideo()">Update Video</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>